/*setear cambiar valores que viee por defecto*/
body{
    box-sizing: border-box; /*para que todo este dentro de mi caja*/
    color: #303030;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px; /*quitando margin ypaddin por defecto*/
}
/*clases eutilizables*/
.text-uppercase {/*h1,h3,li tambien es valido en vez de poner text-uppercase*/ 
    text-transform: uppercase;
}
/*clases especificas*/
li a{
text-decoration: none;
color: inherit;
}
li:hover{
    color:#db964a; /*color laboratoria*/

}
ul li{
    display: inline;
    margin: 10px;
    list-style: none;
}
.logo-header {
    width: 200px;
    height: 200px;
    transition: 5s;
}
header{
    position: relative;
}
nav {
    /*float: rigth;*/
    position: absolute; 
    /*padding: 10px;*/
    right: 0px;
    top: 50%;
    transform: translateY(-50%)
    /**/

}
.box-header{
    display: inline-block;
}
.logo-square {
    width: 80px;
    height: 80px;
}
section{
    text-align: center;
   
}
div { /*se le puede poner una clase que seria mejor*/
    box-sizing: inherit; /*con inherit hereda lo del padre*/
    display: inline-block;
    width: 33%;
    padding: ipx;
     /*se le puede poner padding para no estar poniendo 3%*/
}
[class^="icon-"], [class*=" icon-"] {
    font-size: 40px;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover{
    color: red;
}


footer{
    background-color: #303030;
    color: white;
    padding: 5px;
    text-align: center; 
}
.btn{
    background color: ##db964a;
    border: none;
    border-radius:5px;
    font-family: inherit;
    padding: 10px;

}